<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Broken Webpage</title>
		<link rel="stylesheet" href="/static/css/layout.css"/>
	</head>

	<body class="theme-transition">
		<header class=" bg-red-500 dark:bg-stone-700 ">
			<h1> A Not So Broken Webpage</h1>
			<button id="theme_change" type="button">Change theme</button>
			<nav class="p-4">
				{% for page in pages%}
				<a class="text-white dark:text-white" href = "{{page.link}}">{{page.name}}</a>
				{% endfor%}
			</nav>
		</header>

		<footer>
		</footer>

		<script src="static/js/index.js"></script>
	</body>
</html>

